.verse-number,
.juz-marker,
.page-number {
  border-radius: 2em;
  border: 2px gray solid;
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  margin-left: 10px;
  text-align: center;
}

.verse-number {
  width: 35px;
}

.juz-marker {
  color: white;
  border-color: green;
  background-color: green;
  padding: 0 10px;
}

.page-number {
  color: white;
  border-color: blue;
  background-color: blue;
  padding: 0 10px;
}
