/* You can add global styles to this file, and also import other style files */
.arabic {
  font-family: "Scheherazade", serif;
  direction: rtl;
}
body {
  padding: 5px;
  line-height: 1.5;
}
p {
  margin: 10px 0;
}
